.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/img/backgroundAdd.png");
  background-size: cover;
  height: 300px;
}
.title h1 {
  font-size: 32px;
  color: #372626;
  text-align: center;
}
.form {
  width: 50%;
  margin: 20px auto 0px auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formItem {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.formItem p {
  font-size: 22px;
  text-align: center;
}

.cookingMethodArea {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 475px;
  width: 100%;
  resize: vertical;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 18px;
}

.textAreaCooking {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
}

.cookingMethodStep {
  font-size: 80px;
  position: absolute;
  opacity: 0.5;
  left: -20%;
}

.input {
  max-width: 400px;
  width: 100%;
  height: 40px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 15px;
  outline: none;
  padding: 0px 20px;
  font-size: 16px;
  font-family: "Multiround";
}
.formSelect {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ingredientsSelect {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  gap: 10px;
}
.ingredientInput {
  width: 60px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
  font-family: "Multiround";
}
.addIngredient {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  background-color: #e97c94;
  font-family: "Multiround";
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.deleteIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  left: 105%;
  top: 10%;
}
.deleteIcon img {
  width: 100%;
  height: 100%;
}
.cookingMethod {
  max-width: 475px;
  width: 100%;
  min-height: 150px;
  resize: vertical;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #d9d9d9;
  padding: 10px 10px;
  font-size: 18px;
}
.cookingMethod::placeholder {
  font-family: "Multiround";
}
.calculatePortion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 20px;
}
.calculate {
  margin: 0 10px;
  font-size: 26px;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}
.portion {
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewImage {
  width: 170px;
  height: 170px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .formSelect {
    gap: 20px;
    justify-content: start;
    margin-right: 10px;
  }
}

@media (max-width: 590px) {
  .formSelect {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 80px;
  }
  .formItem {
    width: 300px;
  }
  .ingredientsSelect {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
  }
  .ingredientInput {
    height: 40px;
  }
}

@media (max-width: 407px) {
  .formSelect {
    margin-left: 0px;
    max-width: 200px;
  }
  .imageInput {
    max-width: 200px;
  }
  .title {
    padding: 0 10px;
  }
}

@media (max-width: 400px) {
  .cookingMethodStep {
    display: none;
  }
}
