.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.title {
  text-align: center;
  font-size: 30px;
}

.headerBlock {
  width: 100%;
  margin: 0 auto;
  background-image: url("../../assets/img/allrecipe.png");
  background-position: top;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.searchInput {
  max-width: 400px;
  width: 100%;
  position: relative;
  border: 3px solid #d9d9d9;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  padding-left: 60px;
  font-family: "Multiround";
  font-size: 16px;
  background: url("../../assets/img/search.png") no-repeat;
  background-size: 30px;
  background-position: 5%;
}

.container {
  display: flex;
  margin-top: 30px;
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
}
.recipes {
  display: flex;

  flex-wrap: wrap;
}
