.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  margin-left: 0px;
  padding: 0 15px;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnBan {
  background-color: rgb(223, 8, 8);
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
}
.icon {
  width: 20px;
  height: 20px;
}
