@font-face {
  font-family: "Multiround";
  src: local("Multiround"),
    url("./assets/fonts/MultiroundPro.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "Multiround";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
