.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.userProfile {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.user {
  display: flex;
}
.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.userImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.name {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.name p {
  margin: 10px 0;
}
.navRecipe {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 80px;
}
.nav {
  display: flex;
}
.navItem {
  margin-left: 50px;
  color: black;
  text-decoration: none;
}
.navItem.activeNavItem {
  text-decoration: none;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}
.popular {
  display: flex;
}
.recipes {
  display: flex;
  flex-wrap: wrap;
}
.recipeImage {
  width: 180px;
  height: 140px;
  border-radius: 15px;
}
.recipeImage img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.recipeInfo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1100px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 780px) {
  .userProfile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .popular {
    flex-direction: column-reverse;
    align-items: center;
  }
  .recipes {
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .nav {
    display: flex;
  }
  .navItem {
    margin-left: 10px;
  }
  .navRecipe {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}
