.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  margin-left: 100px;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  padding: 15px 0px;
}
.recipe span {
  padding: 10px;
  background-color: rgb(226, 126, 126);
  border-radius: 8px;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.buttons button {
  padding: 7px 10px;
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
.accept {
  background-color: rgb(37, 230, 95);
  display: flex;
  align-items: center;
  color: white;
  gap: 8px;
}
.cancel {
  background-color: rgb(223, 96, 96);
  display: flex;
  align-items: center;
  color: white;
  gap: 8px;
}

.cancel:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.trashIcon {
  width: 16px;
  height: 16px;
}

@media (max-width: 800px) {
  .wrapper {
    margin-left: 0px;
    justify-content: center;
    align-items: center;
  }
  .container {
    justify-content: center;
    align-items: center;
  }
  .recipes {
    justify-content: center;
  }
}
