.comment {
  max-width: 1000px;
  width: 100%;
  padding-bottom: 10px;
  margin: 30px 0;
  position: relative;
}
.infoAuthor {
  display: flex;
  align-items: center;
}
.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.author {
  margin-left: 10px;
}
.commentText {
  margin-top: 20px;
  width: 100%;
  white-space: pre-wrap;
  font-family: "Comfortaa";
  font-weight: 700;
}
.date {
  color: gray;
}
.deleteIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 105%;
  top: 100%;
  cursor: pointer;
}
.deleteIcon img {
  width: 100%;
  height: 100%;
}
