.btn {
  cursor: pointer;
  font-family: "Multiround";
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e97c94;
  border-radius: 10px;
  border: none;
  color: white;
}

.btn:hover {
  opacity: 0.7;
  transition: 0.2s;
}
