.sidebar {
  margin-top: 30px;
  max-width: 400px;
  width: 100%;
}
.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.optionItem {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.title {
  font-size: 18px;
}
.select {
  max-width: 300px;
  width: 100%;
}

.calories {
  max-width: 60px;
  height: 30px;
  width: 100%;
  font-family: "Multiround";
  border-radius: 10px;
  border: 1px solid rgb(199, 199, 199);
  outline: none;
  padding: 0 5px;
}
.inputsCalories {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.inputRange {
  margin: 10px 0;
  max-width: 250px;
  width: 100%;
}

.resetFilter {
  padding: 15px 25px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  font-family: "Multiround";
  cursor: pointer;
  background-color: #a6a6a6;
  color: white;
}
