.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.banner {
  width: 100%;
  margin: 0 auto;
  background-image: url("../../assets/img/mainbanner1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textBanner {
  color: white;
  font-size: 65px;
  text-align: center;
  margin-left: 300px;
}
.title {
  text-align: center;
  font-size: 30px;
  color: black;
  margin: 40px 0;
}
