.block {
  width: 300px;
  height: 250px;
  margin: 20px 10px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

.block:hover .infoFood {
  top: 40%;
  transition: 0.3s;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}
.infoFood {
  transition: 0.3s;
  position: absolute;
  top: 70%;
  width: 100%;
  height: 150px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}
.titleBlock {
  width: 250px;
  height: 65px;
  margin-top: 10px;
}
.title {
  font-size: 15px;
  width: 250px;
  color: white;
  letter-spacing: 2px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
}
.descFood {
  display: flex;
  justify-content: space-between;
}
.descFood p {
  color: white;
  font-size: 14px;
  font-family: "Comfortaa";
  font-weight: 500;
}

.leftDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.rightDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.descItem {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.icon {
  color: white;
  width: 18px;
  height: 18px;
}

@media (max-width: 1024px) {
  .block {
    width: 250px;
    height: 200px;
  }
  .titleBlock {
    width: 200px;
  }
  .title {
    width: 200px;
  }
}
